<!--
Menu for Website

mobile-when="#insert css media query#"
e.g. mobile-when="(min-width: 400px;)"
-->

<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-media-query/iron-media-query.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../gsap/gsap-lite.html">
<link rel="import" href="x-menu/x-menu-item.html">

<!--
*copied for reference to rewrite later*
Material design: [Progress & activity](https://www.google.com/design/spec/components/progress-activity.html)

The progress bars are for situations where the percentage completed can be
determined. They give users a quick sense of how much longer an operation
will take.

Example:

    <paper-progress value="10"></paper-progress>

There is also a secondary progress which is useful for displaying intermediate
progress, such as the buffer level during a streaming playback progress bar.

Example:

    <paper-progress value="10" secondary-progress="30"></paper-progress>

### Styling progress bar:

To change the active progress bar color:

    paper-progress {
       --paper-progress-active-color: #e91e63;
    }

To change the secondary progress bar color:

    paper-progress {
      --paper-progress-secondary-color: #f8bbd0;
    }

To change the progress bar background color:

    paper-progress {
      --paper-progress-container-color: #64ffda;
    }

Add the class `transiting` to a paper-progress to animate the progress bar when
the value changed. You can also customize the transition:

    paper-progress {
      --paper-progress-transition-duration: 0.08s;
      --paper-progress-transition-timing-function: ease;
      --paper-progress-transition-transition-delay: 0s;
    }

To change the duration of the indeterminate cycle:

    paper-progress {
      --paper-progress-indeterminate-cycle-duration: 2s;
    }

The following mixins are available for styling:

Custom property                                  | Description                                 | Default
-------------------------------------------------|---------------------------------------------|--------------
`--paper-progress-container-color`               | Mixin applied to container                  | `--google-grey-300`
`--paper-progress-transition-duration`           | Duration of the transition                  | `0.008s`
`--paper-progress-transition-timing-function`    | The timing function for the transition      | `ease`
`--paper-progress-transition-delay`              | delay for the transition                    | `0s`
`--paper-progress-active-color`                  | The color of the active bar                 | `--google-green-500`
`--paper-progress-secondary-color`               | The color of the secondary bar              | `--google-green-100`
`--paper-progress-disabled-active-color`         | The color of the active bar if disabled     | `--google-grey-500`
`--paper-progress-disabled-secondary-color`      | The color of the secondary bar if disabled  | `--google-grey-300`
`--paper-progress-height`                        | The height of the progress bar              | `4px`
`--paper-progress-indeterminate-cycle-duration`  | Duration of an indeterminate cycle          | `2s`

@group Paper Elements
@element paper-progress
@hero hero.svg
@demo demo/index.html
-->

<dom-module id="x-menu">
  <template>
    <style>
      :host {
        text-align: center;
      }
      
      :host[is-mobile] {
        text-align: left;
      }
      
      :host[is-tablet] {
        text-align: right;
      }
      
      .x-menu-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: flex-end;
        flex-basis: auto;
        overflow: hidden;
      }
      
      
      :host[is-mobile] > .mobile-x-menu-wrapper > .overlay,
      :host[is-tablet] > .mobile-x-menu-wrapper > .overlay {
        flex-grow: 1;
        opacity: 0;
        background-color: black;
      }
      
      :host[is-mobile][open] > .mobile-x-menu-wrapper > .overlay,
      :host[is-tablet][open] > .mobile-x-menu-wrapper > .overlay {
        opacity: .6;
      }
      
      :host[is-mobile] .x-menu-container,
      :host[is-tablet] .x-menu-container {
        display: flex;        
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex-basis: auto;
        background-color: white;
        @apply(--shadow-elevation-24dp);
        overflow-y: scroll;
        width: 20em;
        margin-right: -22em;
      }
      
      :host[is-mobile][open] .x-menu-container,
      :host[is-tablet][open] .x-menu-container {
        margin-right: -3.125em;
      }
      
      
      :host[is-mobile] .mobile-x-menu-wrapper,
      :host[is-tablet] .mobile-x-menu-wrapper {
        display: none;
      }
      
      :host[is-mobile][open] .mobile-x-menu-wrapper,
      :host[is-tablet][open] .mobile-x-menu-wrapper {
        display: flex;
        position: fixed;
        right: 0;
        top: 0;
        height:100%;
        width:100%;
        z-index:1000;
      }
      
      :host .x-menu-button {
        display: none;
      }
      
      :host[is-mobile] .x-menu-button,
      :host[is-tablet] .x-menu-button {
        display: block;
        height: 2.8125em;
        width: 2.8125em;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid rgba(0,0,0, .12);
        border-radius: .125em;
        background-color: white;
        transition: .125s background-color;
      }
      
      :host[is-mobile][open] .x-menu-button,
      :host[is-tablet][open] .x-menu-button,
      :host[is-mobile] .x-menu-button:hover,
      :host[is-tablet] .x-menu-button:hover {
        background-color: var(--google-grey-100);
      }
      
      :host .x-menu-button iron-icon {
        width: auto;
        height: auto;
        padding: .375em;
      }
      
      :host[is-mobile] .scrollbar,
      :host[is-tablet] .scrollbar {
        position: fixed;
        width: 3px;
        background-color: rgba(0,0,0,.4);
        height: 100%;
        top: 0;
        right: 0;
        margin-right: -18.875em;
      }
      
      :host[is-mobile][open] .scrollbar,
      :host[is-tablet][open] .scrollbar {
        margin-right: 0em;
      }
    </style>

    
    <div class="x-menu-button">
        <iron-icon icon="menu"></iron-icon>
    </div>
    
    <iron-media-query query$="{{mobileWhen}}" query-matches="{{_isMobile}}" id="xMenuMobileQuery"></iron-media-query>
    <iron-media-query query$="{{tabletWhen}}" query-matches="{{_isTablet}}" id="xMenuTabletQuery"></iron-media-query>
    
       
    <div class="mobile-x-menu-wrapper">
        <div class="overlay"></div>
        <div class="x-menu-container">
            <content></content>
            <div class="scrollbar"></div>
        </div>
    </div>
  </template>
</dom-module>

<script>
Polymer({
    is: 'x-menu',
    properties: {
        /**
         * Query string for when the menu switches to mobile style
         */
        mobileWhen: String,
        
        /**
         * Query string for when the menu switches to tablet style
         */
        tabletWhen: String,
        
        /**
         * For tablet and mobile: Menu is open
         */
        open: Boolean,
        
        /**
         * Flag for Mobile Device Type
         */
        isMobile: {
            type: Boolean,
            observer: '_isMobileChanged'
        },
        
        /**
         * Flag for Tablet Device Type
         */
        isTablet: {
            type: Boolean,
            observer: '_isTabletChanged'
        },
        
        
        /**
         * Private Property Containing all the direct descending menu-item nodes
         */
        _menuItems: {
            value: function() {
                return this.queryAllEffectiveChildren('x-menu-item');
            }
        },
        
        _wrapper: {
            value: function() {
                return this.$$('.mobile-x-menu-wrapper');
            }
        },
        
        _container: {
            value: function() {
                return this.$$('.x-menu-container');
            }
        },
        
        _scrollBar: {
            value: function() {
                return this.$$('.scrollbar');
            }
        },
        
        _overlay: {
            value: function() {
                return this.$$('.overlay');
            }
        },
        
        
        _menuAnim: {
            type: Object
        }
    },
    
    /**
     * iron-media-query listeners
     *
     * todo: consider looking into imperative listening again.
     */
    listeners: {
        'xMenuMobileQuery.query-matches-changed': '_isMobileChanged',
        'xMenuTabletQuery.query-matches-changed': '_isTabletChanged'
    },
        
    /**
     * On ready add device type flags accordingly
     */
    ready: function() {
        this._isMobileChanged();
        this._isTabletChanged();
    },
    
    attached: function() {
        //Listen for tap events (for dropdowns)
        this.listen(document, 'tap', '_tapped');
        //Listen for scroll event for tablet and mobile style. Also update on window resize
        this.listen(this._container, 'scroll', '_scrollEvent');
        this.listen(window, 'resize', '_scrollEvent');
        
        this._menuAnim = [];
        this._menuAnim._container = TweenLite.fromTo(this._container, .225, {css:{marginRight:"-22em"}}, {css:{marginRight:"-3.125em", clearProps:"marginRight"}, ease:Power1.easeInOut, paused: true});
        this._menuAnim._scrollBar = TweenLite.fromTo(this._scrollBar, .225, {css:{marginRight:"-18.875em"}}, {css:{marginRight:"0em", clearProps:"marginRight"}, ease:Power1.easeInOut, paused: true});
        this._menuAnim._overlay = TweenLite.fromTo(this._overlay, .225, {css:{opacity:"0"}}, {css:{opacity:".6", clearProps:"opacity"}, ease:Power1.easeIn, paused: true, callbackScope: this});
        
        this._container.style.marginRight = null;
        this._scrollBar.style.marginRight = null;
        this._overlay.style.opacity = null;
    },
    
    detached: function() {
        //Unisten for tap events (for dropdowns)
        this.unlisten(document, 'tap', '_tapped');
        //Unlisten for scroll event for tablet and mobile style. Unlisten resize
        this.unlisten(this._container, 'scroll', '_scrollEvent');
        this.unlisten(window, 'resize', '_scrollEvent');
        
        this._menuAnim._container.kill();
        this._menuAnim._scrollBar.kill();
        this._menuAnim._overlay.kill();
    },
    
    
    /**
     * Listener function for media query to change is-mobile flag. Also applies to each menu item
     */
    _isMobileChanged: function() {
        if (!this._menuItems) return;
        
        //console.log("changed");
        if (this._isMobile)
            this.setAttribute('is-mobile', "");
        else
            this.removeAttribute('is-mobile');
        
        for(var i=0; i < this._menuItems.length; i++){
            if (this._isMobile)
                this._menuItems[i].setAttribute('is-mobile', "");
            else
                this._menuItems[i].removeAttribute('is-mobile');
        }
    },
    
    
    /**
     * Listener function for media query to change is-tablet flag. Also applies to each mean item.
     */
    _isTabletChanged: function() {
        if (!this._menuItems) return;
        
        //console.log("changed");
        if (this._isTablet)
            this.setAttribute('is-tablet', "");
        else
            this.removeAttribute('is-tablet');
        
        for(var i=0; i < this._menuItems.length; i++){
            if (this._isTablet)
                this._menuItems[i].setAttribute('is-tablet', "");
            else
                this._menuItems[i].removeAttribute('is-tablet');
        }
    },
    
    
    /**
     * Tapped listener. Checks to see where the tap is to set menu open or nah.
     * Probably could be rewritten in a better manner
     */
    _tapped: function(e) {
        var target = e.target;
        while(target != this && target != window.document && target != null) {
            //if the target reaches the menu wrapper node, break and close menu
            if (target == this._wrapper) break;
            //if the target reaches the menu container node, ignroe the tap
            if (target == this._container) return;
            //"bubble" the tapped target up until it either matches the current node or the document node.
            target = target.parentNode;
        }
        if(target == this) {
            // open pressed
            //toggle open attribute and update scrollbar
            if (!this.open){
                this._menuToggle(true);
            }else {
                this._menuToggle(false);
            }
            //console.log("toggled");
        } else if (this.open && this._isTablet) {
            // not
            this._menuToggle(false);
            //console.log("closed");
        } else {
            this.removeAttribute('open');
        }
    },
    
    /**
      * Toggle Menu should be open or not.
      */
    _menuToggle: function(open) {
        if (open) {
            if (this.open) return;
            this._menuAnim._container.timeScale(1).restart();
            this._menuAnim._scrollBar.timeScale(1).restart();
            this._menuAnim._overlay.timeScale(1).restart().eventCallback("onStart",
            function(){
                this.setAttribute('open', "");
                this._scrollEvent();
            });
        }
        else {
            if (!this.open) return;
            this._menuAnim._container.timeScale(.75).reverse();
            this._menuAnim._scrollBar.timeScale(.75).reverse();
            this._menuAnim._overlay.timeScale(.7).reverse().eventCallback("onReverseComplete",
            function(){
                this._container.style.marginRight = null;
                this._scrollBar.style.marginRight = null;
                this._overlay.style.opacity = null;
                this.removeAttribute('open');
            });
        }
    },
    
    /**
      * Scroll listener for the mobile and tablet menues. Syncs scroll div with current position
      */
    _scrollEvent: function(e) {
        /*visible height/content height = scrollbar height
        if less, set display to none, if mroe set display to block
        */
        if (!this.open) return;
        
        var visible = this._container.clientHeight;
        var total = this._container.scrollHeight;
        var top = this._container.scrollTop/total*visible;
        var scrollBarHeight = visible/total*100;
        
        if (scrollBarHeight < 100) {
            this._scrollBar.style.display = "block";
            this._scrollBar.style.height = scrollBarHeight + "%";
            this._scrollBar.style.top = top + "px";
        } else {
            this._scrollBar.style.display = "none";
        }
    }
});
</script>
